auto_mix_prep==0.2.0
dagshub==0.5.10
fastapi==0.116.1
joblib==1.5.1
mlflow==3.1.1
mlflow_skinny==3.1.1
pandas==2.3.1
prometheus_client==0.22.1
text_prettifier==2.0.1
uvicorn==0.35.0
dotenv
python-multipart
